#wpadminbar .quicklinks li#wp-admin-bar-clickystats {
	height: 28px;
}

#wpadminbar .quicklinks li#wp-admin-bar-clickystats a {
	height: 28px;
	padding: 0;
}

#wpadminbar .quicklinks li#wp-admin-bar-clickystats a img {
	width: 99px;
	height: 20px;
	padding: 4px 5px;
}
